*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #b2b2b2;
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 1440px;
    height: 600px;
}

.header_div{
    position: relative;
    display: flex;
}

.header_div img{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 81px;
    top: 50px;
}

.header_div h1{
    position: absolute;
    width: 203px;
    height: 24px;
    left: 113px;
    top: 44px;
    color: #333D4B;
}

.header_list{
    display: flex;
    gap: 32px;
    margin-top: 60px;
}

.header_items a{
    color: #333D4B;
}

.header_items:first-child{
    margin-left: 1100px;
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header_list:nth-child(2){
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header_list:last-child{
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.img_tag img{
    position: absolute;
    width: 1280px;
    height: 450px;
    left: 80px;
    top: 113px;
    background: #A2A2A2;
    border-radius: 10px;
}

.img_tag h1{
    position: absolute;
    top: 250px;
    left: 165px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.img_tag p{
    width: 450px;
    position: absolute;
    top: 322px;
    left: 165px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

.box{
    position: absolute;
    top: 831px;
    left: 65px;
    margin: 0 auto;
    width: 1280px;
    height: 653px;
    background-color: #2C343E;
}

.circle{
    width: 31px;
    height: 31px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    margin-top: 104px;
    margin-left: 165px;
    border: 2px solid #0E8784;
}

.line{
    position: absolute;
    width: 760px;
    height: 1px;
    margin-left: 180px;
    top: 120px;
    border: 2px solid #FDD6BA;
    
}

.circle2{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 545px;
    margin-top: 104px;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid #0E8784;
}

.circle3{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 925px;
    margin-top: 104px;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid #0E8784;
}

.n01{position: absolute;
    margin-left: 160px;
    margin-top: 160px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.n02{position: absolute;
    margin-left: 545px;
    margin-top: 160px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.n03{position: absolute;
    margin-left: 925px;
    margin-top: 160px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.g1{
    width: 145px;
    height: 73px;
    margin-top: 300px;
    margin-left: 165px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.g2{
    width: 160px;
    height: 73px;
    margin-top: -73px;
    margin-left: 545px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.g3{
    width: 145px;
    height: 73px;
    margin-top: -73px;
    margin-left: 925px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.pg1{
    margin-top: 43px;
    margin-left: 165px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.pg2{
    margin-top: -133px;
    margin-left: 545px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.pg3{
    margin-top: -133px;
    margin-left: 925px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}