*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 1440px;
    height: 600px;
}

.header_div{
    position: relative;
    display: flex;
}

.header_div img{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 81px;
    top: 50px;
}

.header_div h1{
    position: absolute;
    width: 203px;
    height: 24px;
    left: 113px;
    top: 44px;
    color: #333D4B;
}

.header_list{
    display: flex;
    gap: 32px;
    margin-top: 60px;
}

.header_items a{
    color: #333D4B;
}

.header_items:first-child{
    margin-left: 1100px;
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header_list:nth-child(2){
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header_list:last-child{
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.img_tag img{
    position: absolute;
    width: 1280px;
    height: 450px;
    left: 80px;
    top: 113px;
    background: #A2A2A2;
    border-radius: 10px;
}

.img_tag h1{
    position: absolute;
    top: 250px;
    left: 165px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.img_tag p{
    width: 450px;
    position: absolute;
    top: 322px;
    left: 165px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

.box{
    position: absolute;
    top: 831px;
    left: 65px;
    margin: 0 auto;
    width: 1280px;
    height: 653px;
    background-color: #2C343E;
}

.circle{
    width: 31px;
    height: 31px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    margin-top: 104px;
    margin-left: 165px;
    border: 2px solid #0E8784;
}

.line{
    position: absolute;
    width: 760px;
    height: 1px;
    margin-left: 180px;
    top: 120px;
    border: 2px solid #FDD6BA;
    
}

.circle2{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 545px;
    margin-top: 104px;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid #0E8784;
}

.circle3{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 925px;
    margin-top: 104px;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid #0E8784;
}

.n01{position: absolute;
    margin-left: 160px;
    margin-top: 160px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.n02{position: absolute;
    margin-left: 545px;
    margin-top: 160px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.n03{position: absolute;
    margin-left: 925px;
    margin-top: 160px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.g1{
    width: 145px;
    height: 73px;
    margin-top: 300px;
    margin-left: 165px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.g2{
    width: 160px;
    height: 73px;
    margin-top: -73px;
    margin-left: 545px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.g3{
    width: 145px;
    height: 73px;
    margin-top: -73px;
    margin-left: 925px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.pg1{
    margin-top: 43px;
    margin-left: 165px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.pg2{
    margin-top: -133px;
    margin-left: 545px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.pg3{
    margin-top: -133px;
    margin-left: 925px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.tb{
    position: absolute;
    top: 1552px;
    left: 165px;
    display: inline-block;
    width: 255px;
    height: 356px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid #83888F
}

.tb_p{
    color: #83888F;
}

.tb_p:hover{
    color: #333D4B;
}

.card__list {
    margin-top: 1060px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.card__wrapper {
    width: 255px;
}

.card__wrapper--menu {
    list-style-type: none;
}

.card__wrapper--item {
    padding: 24px 0;
    border-bottom: 1px solid #83888F;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.card__wrapper--item:hover {
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.card__wrapper--item:first-child {
    padding-top: 0;
}

.card__wrapper--item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.card__wrapper--title {
    display: inline;
    margin-right: 28.5px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.card__wrapper--title:hover {
    color: #83888F;
}

.card__wrapper--text {
    display: inline;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.card__wrapper--text:hover {
    color: #333D4B;
}

.card__boxs {
    width: 730px;
}

.card__menu {
    list-style-type: none;
}

.card__item {
    margin-bottom: 88px;
}

.card__header {
    margin-bottom: 56px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__header--title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}

.card__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

.card__box--item {
    margin-right: 23px;
    width: 228px;
    height: 250px;
    padding: 32px 28px;
    background: #F4F1EB;
    border-radius: 8px;
    color: #333D4B;
}

.card__box--item:hover {
    background-color: #FDD6BA;
    color: #2C343E;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.card__box--item:active {
    background-color: #0E8784;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
}

.card__box--item:last-child {
    margin-right: 0;
}

.card__box--title {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}

.card__box--text {
    width: 172px;
    font-size: 16px;
    line-height: 26px;
}

.box-color {
    background-color: #0E8784;
    color: #FEFCF7;
}

@media screen and (max-width: 770px) {
    .card__list {
        display: block;
    }
    .card__wrapper--menu {
        display: none;
    }
    .card__header {
        margin-bottom: 40px;
        width: 100%;
    }
    .card__boxs {
        width: 100%;
    }
    .card__item {
        margin-bottom: 100px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
    .card__box {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .card__box--item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        padding: 32px 0;
        padding-left: 25px;
        width: 33%;
    }
    .card__box--title {
        width: 100%;
    }
    .card__box--text {
        width: 90%;
    }
}

@media screen and (max-width: 689px) {
    .card__header--title {
        font-size: 32px;
        line-height: 48px;
    }
}

@media screen and (max-width: 560px) {
    .card__header--title {
        font-size: 24px;
        line-height: 28px;
    }
    .card__item {
        margin-bottom: 110px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
    .card__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .card__box--item {
        margin-right: 0;
        margin-bottom: 16px;
        width: 90%;
    }
    .card__box--title {
        margin-bottom: 8px;
    }
}

footer{
    position: absolute;
    width: 1280px;
    height: 120px;
    left: 80px;
    top: 4000px;
    background: #2C343E;
}

.footer_div img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 58px;
}

.footer_div h1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 68px;
    top: 50px;
}

.footer_items a{
    margin-left: 503px;
    font-family: 'Barlow';
    color:#83888F;
}

.foooter_list{
    position: relative;
    font-weight: 700;
    margin-top: 60px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}

.footer_items:first-child{
    position: absolute;
}

.footer_items:nth-child(2){
    position: absolute;
    margin-left: 80px;
}

.footer_items:last-child{
    position: absolute;
    margin-left: 180px;
}

.footer_img{
    display: flex;
    margin-left: 1000px;
    gap: 32px;
}