*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    height: 600px;
}

.header_div{
    position: relative;
    display: flex;
}

.header_div img{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 81px;
    top: 50px;
}

.header_div h1{
    position: absolute;
    width: 203px;
    height: 24px;
    left: 113px;
    top: 44px;
    color: #333D4B;
}

.header_list{
    display: flex;
    gap: 32px;
    margin-top: 60px;
}

.header_items a{
    color: #333D4B;
}

.header_items:first-child{
    margin-left: 1000px;
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header_list:nth-child(2){
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header_list:last-child{
    height: 15px;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.header__btn{
    width: 50px;
    height: 50px;
    display: none;
    background-color: #0E8784;
}

.img_tag{
    margin-top: 51px;
}

.img_tag img{
    margin-top: 50px;
}

.Img__tag_text{
    position: relative;
    top: -490px;
    left: 165px;
    
}

.Img__tag_text h1{
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.Img__tag_text p{
    margin-top: 43px;
    width: 445px;
    height: 78px;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.img_btn{
    border: none;
    position: absolute;
    margin-top: 65px;
    width: 217px;
    height: 56px;
    color: #fff;
    font-family: 'Fraunces 9pt';
    font-size: 18px;
    background: #0E8784;
    border-radius: 6px;
}

.container2{
    margin: 0 auto;
    padding: 0;
    width: 1111px;
    height: 524.55px;
}

.hero_text{
    position: relative;
}

.hero_text img{
    width: 255px;
    gap: 30px;
    top: -40px;
    left: 55px;
}

.hero_text h1{
    margin-top: 300px;
    width: 1072px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    text-align: center;
    color: #83888F;
}

.img_r{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.img_text h1{
    width: 255px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);;
}

.img_text p{
    width: 255px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

.container3{
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    height: 577px;
}

.ct{
    position: relative;
    background-color: #2C343E;
    border-radius: 10px;
}
.ct_text h1{
    margin: 0 auto;
    padding: 121px 475px 0;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.ct_text p{
    margin: 0 auto;
    width: 540px;
    margin-top: 32px;
    padding: 0 0 317px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.ct__r{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 367px;
    left: 85px;
    width: 350px;
    background: #0E8784;
    border-radius: 8px;
    gap: 32px;
}

.ct2{
    background-color: #0E8784;
}

.ct2 img{
    padding: 72px 140px 0;
}

.ct2 h1{
    margin-top: 51px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.ct2 p{
    margin-top: 24px;
    padding: 0 48px 48px;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

.hw_tag{
    position: relative;
    margin: 0 auto;
    
}

.hw h1{
    height: 32px;
    margin-top: 500px;
    margin-left: 165px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.circle{
    width: 31px;
    height: 31px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    margin-top: 80px;
    margin-left: 165px;
    border: 2px solid #0E8784;
    background: #FEFCF7;
}

.line{
    margin: 0 auto;
    width: 760px;
    height: 1px;
    border: 2px solid #FDD6BA;
    z-index: -1;
    margin-top: 95px;
    margin-left: 180px;
}

.circle2{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 545px;
    margin-top: -17px;
    box-sizing: border-box;
    position: absolute;
    background: #FEFCF7;
    border: 2px solid #0E8784;
}

.circle3{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: 925px;
    margin-top: -17px;
    box-sizing: border-box;
    position: absolute;
    background: #FEFCF7;
    border: 2px solid #0E8784;
}

.n01{
    margin-left: 165px;
    margin-top: 67px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.n02{
    margin-left: 545px;
    margin-top: -72px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.n03{
    margin-left: 925px;
    margin-top: -72px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.g1{
    width: 145px;
    height: 73px;
    margin-top: 38px;
    margin-left: 165px;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.g2{
    width: 160px;
    height: 73px;
    margin-top: -73px;
    margin-left: 545px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.g3{
    width: 145px;
    height: 73px;
    margin-top: -73px;
    margin-left: 925px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.pg1{
    margin-top: 43px;
    margin-left: 165px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.pg2{
    margin-top: -133px;
    margin-left: 545px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.pg3{
    margin-top: -133px;
    margin-left: 925px;
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.btn{
    margin-left: 165px;
    border: none;
    position: absolute;
    margin-top: 65px;
    width: 217px;
    height: 56px;
    color: #fff;
    font-family: 'Fraunces 9pt';
    font-size: 18px;
    background: #0E8784;
    border-radius: 6px;
}

footer{
    position: absolute;
    width: 1280px;
    height: 120px;
    top: 3387px;
    background: #2C343E;
}

.footer_div img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 58px;
}

.footer_div h1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 68px;
    top: 50px;
}

.footer_items a{
    margin-left: 503px;
    font-family: 'Barlow';
    color:#83888F;
}

.foooter_list{
    position: relative;
    font-weight: 700;
    margin-top: 60px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}

.footer_items:first-child{
    position: absolute;
}

.footer_items:nth-child(2){
    position: absolute;
    margin-left: 80px;
}

.footer_items:last-child{
    position: absolute;
    margin-left: 180px;
}

.footer_img{
    display: flex;
    margin-left: 1000px;
    gap: 32px;
}

@media screen and (max-width:768px) and (min-width:375){
    
}